@import url('http://font.googleleapis.com/css2?family=ubuntu&display=swap');

body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: sans-serif;
    font-size: 10px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 40px;
    background-color: black;
    color: white;
   
}
nav ul li{
    padding: 0 12px;
}

.brand img{
    width:25px;
    padding: 0 5px;
}
.brand{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url(bg.webp);
    /* height: 100px; */
}
.buttom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 34px;
}
.icons i{
    cursor: pointer;
}
#myprogressbar{
    width: 80vw;
    cursor: pointer;
}
.songitemcontainer{
    margin-top: 74px;
}
.songitem{
    height: 50px;
    display: flex;
    background-color: white;
    /* width: 100%; */
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songitem img{
    width: 43px;
    margin: 0 23px 0;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px;
    /* cursor: pointer; */
}
.timestamp{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 10vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.songinfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
    /* position: ; */
}